<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>{% block title %}{% endblock %}| Ninja CMS Admin</title>
    {% block stylesheets %}{% endblock %}

    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />



    <script src="//cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.js"></script>

    {% stylesheets
        '@JfxNinjaCMSBundle/Resources/public/css/foundation_app.css' filter='cssrewrite'
        '@JfxNinjaCMSBundle/Resources/public/css/admin.css' filter='cssrewrite'
        '@JfxNinjaCMSBundle/Resources/public/css/redactor.css' filter='cssrewrite'
    %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}

</head>
<body>

{% for flashMessage in app.session.flashbag.get('notice') %}
    <div class="flash-notice">
        {{ flashMessage }}
    </div>
{% endfor %}
{% for flashMessage in app.session.flashbag.get('error') %}
    <div class="flash-error">
        {{ flashMessage }}
    </div>
{% endfor %}

<nav class="top-bar fixed" data-topbar>
    <ul class="title-area">
        <li class="name">
            <h1><a class="noclick">Ninja CMS</a></h1>
        </li>
        <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
        <li class="toggle-topbar menu-icon"><a href="#"><span></span></a></li>
    </ul>
    {% if app.user %}
        {% set routeName = app.request.get('_route') %}
        {% render(controller("JfxNinjaCMSBundle:AdminNavigation:drawAdminNavigation", {'route': routeName})) %}
    {% endif %}
</nav>
{% block login %}{% endblock %}
<div id="stage">
{% block body %}{% endblock %}
    <div class="clr"></div>
</div>
<div id="footer">
    <div class="row">
        <p class="small-10 large-6 columns">Ninja CMS &copy; jfxweb.ninja  {{ "now"|date("Y") }}</p>
        <p class="small-10 large-6 columns right-align text-right"><em>Designed to build organised, necessary and engaging websites!</em></p>

    </div>
</div>
{% block javascripts %}{% endblock %}
<script src='//ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js' type='text/javascript'></script>
<link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/themes/smoothness/jquery-ui.css" />
<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/jquery-ui.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/fastclick/1.0.6/fastclick.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/foundation/5.5.3/js/foundation.min.js"></script>
{% javascripts
'@JfxNinjaCMSBundle/Resources/public/js/*'
%}
<script type="text/javascript" src="{{ asset_url }}"></script>
{% endjavascripts %}
<script>
    $(document).foundation();
</script>
{% block scripts %}{% endblock %}
{% block formscripts %}{% endblock %}
</body>
</html>