{% extends 'JfxNinjaCMSBundle::CMSAdmin.base.html.twig' %}


{% block body %}
    <div class="row">
        <div class="column small-8">
            {% if mode == 'delete' %}
                <h1>Delete {{ title }}</h1>
                <p>Are you sure you want to delete this language?</p>
            {% endif %}

            {% if mode == 'new' %}
                <h1>Create new domain</h1>
                <p>Changes are not saved until clicking the 'save new' button.</p>
            {% endif %}

            {% if mode == 'edit' %}
                <h1>Editing {{ title }}</h1>
                <p>Changes are not saved until you commit changes.</p>
            {% endif %}



            {% if form.delete is defined %}
                Are you sure you want to delete this domain?
            {% endif %}
        </div>
    </div>


    <div class="row column">


        {{ form_start(form) }}
        <fieldset>
            <legend>Language Details</legend>
            <div class="row">
                <div class="column small-6">
                    {{ form_row(form.name) }}
                </div>
                <div class="column small-6">
                    {{ form_row(form.languageCode) }}
                </div>
            </div>
        </fieldset>



        {{ form_end(form) }}
    </div>

{% endblock %}