{% extends 'JfxNinjaCMSBundle::CMSAdmin.base.html.twig' %}


{% use 'JfxNinjaCMSBundle:Content:form.html.twig' %}

{% block body %}
<div class="row">
    <div class="column small-8">
    {% if mode == 'delete' %}
        <h1>Delete {{ contentTitle }}</h1>
        <p>Are you sure you want to delete this content?</p>
    {% endif %}

    {% if mode == 'new' %}
        <h1>Create new content item</h1>
        <p>Changes are not saved until clicking the 'save new' button.</p>
    {% endif %}

    {% if mode == 'edit' %}
        <h1>Editing {{ contentTitle }}  ({{ locale }})</h1>
        <p>Changes are not saved until you commit changes.</p>
    {% endif %}



    {% if form.delete is defined %}
        Are you sure you want to delete this content?
    {% endif %}
    </div>
    <div class="language-menu column small-4">
        {% if altLinks|length > 1 %}
            <dl class="sub-nav">
            {% for link in altLinks %}
                {% if link.code == locale %}
                    <dd class="active" ><a class="noclick">{{ link.name }}</a></dd>
                {% else %}
                    <dd><a href="{{ link.link }}">{{ link.name }}</a></dd>
                {% endif %}
            {% endfor %}
            </dl>
        {% endif %}
    </div>
</div>
    {{ block('form') }}

{% endblock %}

