<!doctype html>
<html class="no-js" lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ pageTitle }} | SSone digital</title>
    <meta name="description" content="{{ metaDescription }}"/>
</head>

<body id="{{ pageClass }}">

{% for flashMessage in app.session.flashbag.get('notice') %}
    <div class="flash-notice">
        {{ flashMessage }}
    </div>
{% endfor %}
{% for flashMessage in app.session.flashbag.get('error') %}
    <div class="flash-error">
        {{ flashMessage }}
    </div>
{% endfor %}

    <nav>
            {% if navigation.A is defined %}
                {% for nav in navigation.A %}
                    {% include [
                        'SSoneCMSThemeBundle:' ~ nav.attributes.menuTemplate,
                        'SSoneCMSBundle:Default:navigation.html.twig']
                        with {'nav': nav }
                    %}
                {% endfor %}
            {% endif %}
    </nav>



    <section>

        {% if content is not empty %}
            {% include [
            'SSoneCMSThemeBundle:' ~ content.attributes.template,
            'SSoneCMSBundle:Default:content.html.twig']
            with {'content': content }
            %}
        {% endif %}

    </section>

    <section>
        {% if modules.A is defined %}
        {% for module in modules.A %}
        {{  include( 'SSoneCMSThemeBundle:' ~ module.settings.templatePath, {'module': module } )  }}
            {% include [
            'SSoneCMSThemeBundle:' ~ module.settings.templatePath,
            'SSoneCMSBundle:Default:module.html.twig']
            with {'module': module }
            %}
        {% endfor %}
        {% endif %}
    </section>


</body>

</html>
