{% extends 'JfxNinjaCMSBundle::CMSAdmin.base.html.twig' %}


{% block body %}
    <div class="row">
        <div class="column small-8">
            {% if mode == 'delete' %}
                <h1>Delete {{ menuItemTitle }}</h1>
                <p>Are you sure you want to delete this menu item?</p>
            {% endif %}

            {% if mode == 'new' %}
                <h1>Create new menu item</h1>
                <p>Changes are not saved until clicking the 'save new' button.</p>
            {% endif %}

            {% if mode == 'edit' %}
                <h1>Editing {{ menuItemTitle }}</h1>
                <p>Changes are not saved until you commit changes.</p>
            {% endif %}
        </div>
        <div class="language-menu column small-4">
            {% if altLinks|length > 1 %}
                <dl class="sub-nav">
                    {% for link in altLinks %}
                        {% if link.code == locale %}
                            <dd class="active" ><a class="noclick">{{ link.name }}</a> |</dd>
                        {% else %}
                            <dd><a href="{{ link.link }}">{{ link.name }}</a> |</dd>
                        {% endif %}
                    {% endfor %}
                </dl>
            {% endif %}
        </div>
    </div>


    {% if form.delete is defined %}
        Are you sure you want to delete this content?
    {% endif %}

    <div class="row column">


            {{ form_start(form) }}
        <fieldset>
            <legend>Page details</legend>
            <div class="row">
                <div class="column small-5">
                        {{ form_row(form.name) }}
                    </div>
                    <div class="column small-5">
                        {{ form_row(form.slug) }}
                    </div>
                    <div class="column small-2">
                        {{ form_row(form.sort) }}

                </div>
            </div>
            <div class="row">
                <div class="column small-5">
                    {{ form_row(form.pageTitle) }}
                    {{ form_row(form.pageClass) }}

                </div>
                <div class="column small-7">
                    {{ form_row(form.metaDescription) }}
                </div>
            </div>
        </fieldset>
        <fieldset>
            <legend>Display, menu positions and attachment</legend>
            <div class="row">
                <div class="column small-4">
                    {{ form_row(form.mapAttached) }}
                </div>
                <div class="column small-4">
                    {{ form_row(form.mapContent) }}
                </div>
                <div class="column small-4">
                    {{ form_row(form.drawListItemsAsMenuItems) }}
                </div>
            </div>
            <div class="row">
                <div class="column small-4">
                    {{ form_row(form.grandChildrenTemplatePosition) }}
                </div>
                <div class="column small-4">
                    {{ form_row(form.grandChildrenRelativePosition) }}
                </div>
                <div class="column small-4">
                    {{ form_row(form.drawAllGrandChildren) }}
                </div>
            </div>
            <div class="row">
                <div class="column small-8">
                    {{ form_row(form.domain_template_override) }}
                </div>
                <div class="column small-4">
                    {{ form_row(form.hide) }}
                </div>
            </div>

        </fieldset>
        <fieldset>
            <legend>Category Menus</legend>
            <div class="row">
                <div class="column small-6">
                    {{ form_row(form.contentCategory1) }}
                </div>
                <div class="column small-6">
                    {{ form_row(form.contentCategory2) }}
                </div>
            </div>
            <div class="row">
                <div class="column small-6">
                    {{ form_row(form.contentCategoryRelationship) }}
                </div>
                <div class="column small-6">
                    {{ form_row(form.hideEmptyCategories) }}
                </div>
            </div>
        </fieldset>

        {{ form_end(form) }}
    </div>
{% endblock %}