{% extends 'SSoneCMSBundle::CMSAdmin.base.html.twig' %}


{% block body %}
    <div class="row">
    <div class="column small-8">
        {% if mode == 'delete' %}
            <h1>Delete {{ menuTitle }}</h1>
            <p>Are you sure you want to delete this content type?</p>
        {% endif %}

        {% if mode == 'new' %}
            <h1>Create new content item</h1>
            <p>Changes are not saved until clicking the 'save new' button.</p>
        {% endif %}

        {% if mode == 'edit' %}
            <h1>Editing {{ menuTitle }}</h1>
            <p>Changes are not saved until you commit changes.</p>
        {% endif %}
    </div>
    </div>



    {% if form.delete is defined %}
        Are you sure you want to delete this content?
    {% endif %}



    <div class="row column">


        {{ form_start(form) }}
        <fieldset>
            <legend>Menu details</legend>
            <div class="row">
                <div class="column small-5">
                    {{ form_row(form.name) }}
                </div>
                <div class="column small-5">
                    {{ form_row(form.domain) }}
                </div>
                <div class="column small-2">
                    {{ form_row(form.sort) }}

                </div>
            </div>
            <div class="row">
                <div class="column small-7">
                    {{ form_row(form.menuTemplate) }}
                </div>
                <div class="column small-5">
                    {{ form_row(form.file_menuTemplate) }}
                </div>
            </div>
        </fieldset>
        <fieldset>
            <legend>Menu positions settings</legend>
            <div class="row">
                <div class="column small-6">
                    {{ form_row(form.menuTemplatePosition) }}
                </div>
                <div class="column small-6">
                    {{ form_row(form.grandChildrenTemplatePosition) }}
                </div>
                <div class="column small-6">
                    {{ form_row(form.grandChildrenRelativePosition) }}
                </div>
                <div class="column small-6">
                    {{ form_row(form.drawAllGrandChildren) }}
                </div>
            </div>

        </fieldset>

        {{ form_end(form) }}
    </div>

{% endblock %}