{% form_theme form _self %}

{% block choice_widget_expanded %}
    {% spaceless %}

            {% for child in form %}
                {{ form_widget(child) }}
                {{ child.vars.label | trans }}
            {% endfor %}

    {% endspaceless %}
{% endblock choice_widget_expanded %}


{% block textarea_widget %}
    {% spaceless %}
        <textarea {{ block('widget_attributes') }} rows="{{ rows }}" cols="{{ cols }}" >{{ value }}</textarea>
    {% endspaceless %}
{% endblock textarea_widget %}

{% block form_row %}
    {% spaceless %}
        <div>
            {{ form_label(form) }}
            {{ form_widget(form) }}
            {{ form_errors(form) }}
        </div>
    {% endspaceless %}
{% endblock form_row %}


{% block form_errors %}
    {% spaceless %}
        {% if errors|length > 0 %}
            <ul class="errors">
                {% for error in errors %}
                    <li><span class="error">{{ error.message }}</span></li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endspaceless %}
{% endblock form_errors %}

{% block form_label %}
    {% spaceless %}
        {% if label is not sameas(false) %}
            {% if not compound %}
                {% set label_attr = label_attr|merge({'for': id}) %}
            {% endif %}
            {% if required %}
                {% set label_attr = label_attr|merge({'class': (label_attr.class|default('') ~ ' required')|trim}) %}
            {% endif %}
            {% if errors|length > 0 %}
                {% set label_attr = label_attr|merge({'class': (label_attr.class|default('') ~ ' error')|trim}) %}
            {% endif %}
            {% if label is empty %}
                {% set label = name|humanize %}
            {% endif %}
            <label{% for attrname, attrvalue in label_attr %} {{ attrname }}="{{ attrvalue }}"{% endfor %}>{{ label|trans({}, translation_domain) }}</label>
        {% endif %}
    {% endspaceless %}
{% endblock form_label %}